@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500|Roboto:400,700');

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

article.avatar {
  --skin: #fca;
  --skin-dark: #ea8;
  --skin-dark-semi: #ea84;
  --skin-light: #fec;
  --hair: #963;
  --hair-dark: #741;
  --hair-light: #b85;
  --shirt: #9cf;
  font-size: 0.66vmin;
  width: 90em;
  aspect-ratio: 1;
  position: relative;
}
article.avatar *,
article.avatar *::before,
article.avatar *::after {
  position: absolute;
  box-sizing: border-box;
}

.body {
  width: 100%;
  height: 40%;
  bottom: 0;
}
.body .chest {
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 73%;
  background: var(--skin);
  border-radius: 50% / 125% 125% 0 0;
  background: 
    radial-gradient(110% 120% at 50% 0, var(--skin) 12%, var(--skin-dark) 25%);
}
.body .shirt {
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 91%;
  height: 74%;
  background: var(--shirt);
  border-radius: 50% / 125% 125% 0 0;
  mask: radial-gradient(80% 120% at 50% 0, #0000 20%, #000 0);
  background:
    repeating-conic-gradient(at 50% -65%, #0000 0 5deg, #0002 0 5.5deg, #fff4 6.5deg),
    var(--shirt);
}

.head {
  width: 50%;
  height: 60%;
  left: 50%;
  transform: translate(-50%);
}
.head .hair {
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(at 30% 30%, var(--hair-light) 10%, #0000 50%),
    var(--hair);
  transform: translate(-50%, -50%);
  box-shadow:
    inset 0 0 1em 0.25em var(--hair),
    inset -1em -1em 2em var(--hair-dark),
    inset 1em 1em 1em 0.25em var(--hair-light)
  ;
}
.head .hair.hair-1 {
  left: 50%;
  top: 5%;
  width: 25%;
}
.head .hair.hair-2 {
  left: 33%;
  top: 2%;
  background: radial-gradient(100% 100% at 95% 65%, var(--hair-dark) 5%, #0000 50%);
}
.head .hair.hair-3 {
  width: 21%;
  left: 66%;
  top: 3%;
  background: radial-gradient(110% 120% at 10% 55%, var(--hair-dark) 0%, #0000 40%);
}
.head .hair.hair-4 {
  width: 17%;
  left: 63%;
  top: -3%;
  background: radial-gradient(100% 100% at 10% 60%, var(--hair-dark) 5%, #0000 50%);
}
.head .hair.hair-5 {
  width: 24%;
  left: 46%;
  top: -3%;
  background: 
    radial-gradient(100% 100% at 60% 60%, var(--hair-dark) 0%, #0000 50%),
    radial-gradient(100% 100% at 10% 40%, var(--hair-dark) 0, #0000 30%);
}
.head .hair.hair-6 { 
  left: 21%; 
  top: 8%;
  background: radial-gradient(120% 200% at 80% 10%, var(--hair-dark) 0%, #0000 30%);
}
.head .hair.hair-7 { 
  width: 22%; 
  left: 11%; 
  top: 18%;
  background: radial-gradient(200% 150% at 80% 10%, var(--hair-dark) 5%, #0000 30%);
}
.head .hair.hair-8 { 
  left: 4%; 
  top: 31%; 
  width: 18%; 
  background: radial-gradient(200% 150% at 80% -10%, var(--hair-dark) 15%, #0000 30%);
}
.head .hair.hair-9 { 
  left: 5%; 
  top: 45%; 
  height: 23%; 
  background: radial-gradient(at 30% 0, var(--hair-dark) 15%, #0000 30%);
}
.head .hair.hair-6b { 
  left: 77%; 
  width: 25%;
  background: radial-gradient(120% 200% at 20% 10%, var(--hair-dark) 10%, #0000 30%);
}
.head .hair.hair-7b { 
  left: 89%;
  background: radial-gradient(200% 150% at 20% 10%, var(--hair-dark) 5%, #0000 30%), radial-gradient(200% 150% at 30% 90%, var(--hair-dark) 5%, #0000 30%);
}
.head .hair.hair-8b { 
  left: 94%;
  background: radial-gradient(150% 250% at 30% 40%, var(--hair-dark) 5%, #0000 30%);
}
.head .hair.hair-9b { 
  left: 95%;  
  background: radial-gradient(200% 200% at 20% 10%, var(--hair-dark) 10%, #0000 30%);
}

.head .neck {
  /* No style here as we have a separate .neck div */
}

.head .neck {
  width: 60%;
  height: 30%;
  left: 50%;
  top: 96%;
  transform: translate(-50%);
  mask:
    radial-gradient(80% 100% at 0 45%, #0000 50%, #000 0) 0 0 / 55% 80% no-repeat,
    radial-gradient(80% 100% at 100% 45%, #0000 50%, #000 0) 100% 0 / 55% 80% no-repeat,
    linear-gradient(#0000 76%, #000 0, #0000);
  background: linear-gradient(var(--skin-dark), #0000 30%),
              linear-gradient(var(--skin-dark), var(--skin) 55%) var(--skin);
}

.head .ear {
  --p: -3%;
  --r: rotate(-8deg);
  width: 26%;
  height: 26%;
  background: var(--skin);
  border-radius: 100% / 80% 80% 120% 120%;
  transform: translate(-50%) var(--r);
  left: var(--p);
  top: 48%;
  box-shadow: 
    inset 1em 1em 1em -1em var(--skin-light),
    inset 1em 1em 1em -0.75em var(--skin);
  background:
    radial-gradient(80% 80% at 100% 65%, var(--skin-dark), #0000 80%),
    linear-gradient(90deg, var(--skin-light), var(--skin)),
    var(--skin);
}
.head .ear + .ear {
  --r: scaleX(-1) rotate(-8deg);
  left: calc(100% - var(--p));
  background:
    radial-gradient(80% 80% at 100% 65%, var(--skin-dark), #0000 80%),
    linear-gradient(90deg, var(--skin), var(--skin-dark)),
    var(--skin);
}

.head .face {
  width: 100%;
  height: 100%;
  background: 
    radial-gradient(100% 100% at 50% 0, var(--skin-dark) 15%, #0000 25%),
    radial-gradient(100% 100% at 30% 0, var(--skin-dark) 10%, #0000 20%),
    radial-gradient(100% 100% at 70% 0, var(--skin-dark) 10%, #0000 23%),
    linear-gradient(90deg, var(--skin-light), var(--skin), var(--skin), var(--skin-dark)),
    var(--skin);
  border-radius: 100% / 120% 120% 60% 60%;
  box-shadow:
    inset -1em 22em 2em -17em var(--skin-dark),
    inset 1.5em 1.5em 2em -0.25em var(--skin-light),
    inset 0 -1em 2em 0.5em var(--skin-dark),
    inset -3em 0 7em var(--skin-dark);
}
.head .face .mouth {
  width: 40%;
  height: 18%;
  border: 0.25em solid transparent;
  border-bottom: 0.35em solid #000a;
  border-radius: 50%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 -0.2em var(--skin-dark))
          drop-shadow(0.1em 0.1em 0.1em #fff8)
          drop-shadow(0.1em 0.2em 0.1em #fffc);
}
.head .face .nose {
  width: 15%;
  aspect-ratio: 1;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: 
    radial-gradient(var(--skin-light), #0000 25%),
    conic-gradient(var(--skin), var(--skin-dark) 45%, var(--skin), var(--skin-light) 80%, var(--skin));
  filter: blur(0.5em);
}
.head .face .eye {
  --p: 29%;
  --t: rotate(8deg);
  width: 15%;
  height: 15%;
  border-radius: 50%;
  top: 43%;
  left: var(--p);
  transform: translate(-50%) var(--t);
  background: radial-gradient(circle at 35% 35%, #fff3, transparent 40%), #222;
  box-shadow: inset 0 0 1.5em 0.5em #000, inset 1.5em 2em 1em -1em #fffa,
              -0.25em -0.25em 0.5em var(--skin-dark);
  filter: drop-shadow(0.1em 0.1em 0.1em #fff8)
          drop-shadow(0.1em 0.2em 0.1em #fffc)
          drop-shadow(0 -0.2em var(--skin-dark))
          drop-shadow(0 0 2em var(--skin-dark));
}
.head .face .eye + .eye {
  --t: rotate(-9deg);
  left: calc(100% - var(--p));
}
.head .face .eyebrow {
  --p: 29%;
  --t: rotate(-5deg);
  width: 24%;
  height: 15%;
  border-radius: 100% / 60% 90% 60% 100%;
  top: 33%;
  left: var(--p);
  transform: translate(-50%) var(--t);
  filter: drop-shadow(0.1em 0.1em 0.1em #fff8)
          drop-shadow(0.1em 0.1em 0.1em #0004)
          drop-shadow(0.25em 0.25em 0.3em #0004)
          drop-shadow(0.1em 0.2em 0.1em var(--skin-dark))
          drop-shadow(0.2em 0.2em 0.25em var(--skin-dark));
}
.head .face .eyebrow + .eyebrow {
  --t: rotate(6deg);
  left: calc(100% - var(--p));
}